// @font-face declarations

@font-face {
  font-family: 'GT Sectra';
  src: url('../static/fonts/GTSectraTrialMedium-Italic.woff2') format('woff2'),
      url('../static/fonts/GTSectraTrialMedium-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GT Sectra';
  src: url('../static/fonts/GTSectraTrial-Book.woff2') format('woff2'),
      url('../static/fonts/GTSectraTrial-Book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Sectra';
  src: url('../static/fonts/GTSectraTrial-Medium.woff2') format('woff2'),
      url('../static/fonts/GTSectraTrial-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Sectra';
  src: url('../static/fonts/GTSectraTrialRegular-Italic.woff2') format('woff2'),
      url('../static/fonts/GTSectraTrialRegular-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT Sectra';
  src: url('../static/fonts/GTSectraTrial-Regular.woff2') format('woff2'),
      url('../static/fonts/GTSectraTrial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Sectra';
  src: url('../static/fonts/GTSectraTrialBook-Italic.woff2') format('woff2'),
      url('../static/fonts/GTSectraTrialBook-Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
