@import '~kouto-swiss/index.styl'
@import '~globie-styl-library/helpers'
@import '~swiper/dist/css/swiper.css'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()


// ******************************************************

// GRID

@import '~globie-styl-library/grid'

// ******************************************************

// FONTS
@import 'fonts/fonts'

$font-sans = 'GT America', font-stack('Helvetica')
$font-serif = 'GT Sectra', font-stack('Georgia')

// ******************************************************


// TYPOGRAPHY

@import '~globie-styl-library/type'

$font-size-larger = 1.3rem

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = .001em
$font-tracking-wider = .05em

html
  font-family: $font-sans
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

.font-light
  font-weight: 300

.font-regular
  font-weight: normal

.font-heavy, strong
  font-weight: bold

.font-sans
  font-family: $font-sans

.font-serif
  font-family: $font-serif

.font-larger
  font-size: $font-size-larger

.line-tighter
  line-height: $font-leading-tighter

.line-larger
  line-height: $font-leading-larger



// ******************************************************

// VARIABLES

$color-black = rgb(30, 30, 30)
$color-white = rgb(255, 255, 255)
$color-pink = rgb(241, 229, 223)
$color-pale = rgb(246, 243, 239)
$color-grey-dark = rgb(148, 148, 148)
$color-grey-medium = rgb(190, 190, 190)
$color-grey-light = rgb(220, 220, 220)

// ******************************************************

// BASIC

html
  color: $color-black
  background-color: $color-pink

img
  height: auto
  max-width: 100%

.font-color-grey
  color: $color-grey-dark

// ******************************************************

// MEDIA QUERIES

@import 'responsive/mobile'

@import 'responsive/tablet-portrait'

@import 'responsive/tablet-landscape'

@import 'responsive/laptop'

@import 'responsive/desktop'
