@media screen and (min-width: 1366px)

  $gutter = 60px

  grid-maker(100%, $gutter, xxl)

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  $header-height = 82px
  $footer-height = 91px

  #main-container
    padding-top: $header-height

  #main-content
    min-height: calc('100vh - ' + ($footer-height + $header-height))

  #article-content
    p
      padding-left: $margin-tiny
      padding-right: $margin-tiny
