@media screen and (min-width: 1366px)

  $gutter = 60px

  grid-maker(100%, $gutter, xxl)

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-extra = 42px
  $font-size-large = 36px
  $font-size-mid = 26px
  $font-size-basic = 16px
  $font-size-small = 12px
  $font-size-tiny = 10px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  $header-height = 97px
  $footer-height = 316px

  figcaption
    font-size: $font-size-small

  #fixed-search-holder
    top: $header-height

  #main-container
    padding-top: $header-height

  #header
    &.nav-up
      top: -($header-height)

  #main-content
    min-height: calc('100vh - ' + ($header-height * 2))

  .swiper-container
    &[data-swiper-type='scroll']
      width: calc('83.3333333333% - ' + $margin-small)
      .swiper-slide
        &:not(:first-child)
          padding-left: $margin-tiny
        &:not(:last-child)
          padding-right: $margin-tiny

  #article-content
    font-size: $font-size-basic + 2px
    h2, h3, h4, h5, h6
      font-size: $font-size-mid
    p
      padding-left: $margin-tiny
      padding-right: $margin-tiny
      &:first-of-type
        font-size: $font-size-mid
    .wp-block-quote
      p
        font-size: $font-size-basic
      cite
        font-size: $font-size-small
    .wp-block-pullquote
      p
        font-size: $font-size-large
      cite
        font-size: $font-size-basic

  .form-grid-item
    padding-left: ($margin-micro / 2) !important
    padding-right: ($margin-micro / 2) !important
    &:first-of-type
      padding-left: 0 !important
    &:last-of-type
      padding-right: 0 !important
