@media screen and (min-width: 1280px)

  grid-maker(100%)

  $header-height = 22px
  $footer-height = 91px

  #main-container
    padding-top: $header-height

  #main-content
    min-height: calc('100vh - ' + ($footer-height + $header-height))
