@media screen and (min-width: 1280px)

  $gutter = 50px

  grid-maker(100%, $gutter, xl)

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  $header-height = 87px
  $footer-height = 286px

  figcaption
    font-size: $font-size-small

  #fixed-search-holder
    top: $header-height

  #main-container
    padding-top: $header-height

  #header
    &.nav-up
      top: -($header-height)

  #logo
    height: 36px

  .header-icon
    height: 28px

  #main-content
    min-height: calc('100vh - ' + ($header-height * 2))

  .swiper-container
    &[data-swiper-type='scroll']
      width: calc('83.3333333333% - ' + $margin-small)
      .swiper-slide
        &:not(:first-child)
          padding-left: $margin-tiny
        &:not(:last-child)
          padding-right: $margin-tiny

  #article-content
    h2, h3, h4, h5, h6, ol, ul, cite, figcaption
      padding-left: $margin-tiny
      padding-right: $margin-tiny
    h2, h3, h4, h5, h6
      font-size: $font-size-mid
    p
      &:first-of-type
        font-size: $font-size-mid
    .wp-block-quote
      p
        font-size: $font-size-basic
      cite
        font-size: $font-size-small
