@media screen and (min-width: 1280px)

  $gutter = 50px

  grid-maker(100%, $gutter, xl)

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-extra = 38px
  $font-size-large = 32px
  $font-size-mid = 21px
  $font-size-basic = 15px
  $font-size-small = 12px
  $font-size-tiny = 10px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  $header-height = 87px
  $footer-height = 286px
  $shop-menu-height = 69px

  figcaption
    font-size: $font-size-small

  #fixed-search-holder
    top: $header-height

  #main-container
    padding-top: $header-height

  #header
    &.nav-up
      top: -($header-height)

  #logo
    height: 36px

  .header-icon
    height: 28px

  #main-content
    min-height: calc('100vh - ' + ($header-height * 2))

  .swiper-container
    &[data-swiper-type='scroll']
      width: calc('83.3333333333% - ' + $margin-small)
      .swiper-slide
        &:not(:first-child)
          padding-left: $margin-tiny
        &:not(:last-child)
          padding-right: $margin-tiny

  #article-content
    font-size: $font-size-basic + 2px
    h2, h3, h4, h5, h6
      font-size: $font-size-mid
    /*p
      &:first-of-type
        font-size: $font-size-mid*/
    .wp-block-quote
      p
        font-size: $font-size-basic + 2px
      cite
        font-size: $font-size-small
    .wp-block-pullquote
      p
        font-size: $font-size-large
      cite
        font-size: $font-size-basic

  .form-grid-item
    padding-left: ($margin-micro / 2)
    padding-right: ($margin-micro / 2)

  #footer-nav
    li
      margin-bottom: $margin-tiny

  #shop-menu + article,
  #shop-menu + section
    padding-top: $shop-menu-height + $margin-small

  .shop-menu-label
    font-size: $font-size-basic

  .shop-sub-menu-trigger
    &.grid-item
      padding-left: $margin-tiny
      padding-right: $margin-tiny

  .shop-sub-menu
    padding-top: $margin-small

  .shop-sub-menu-item
    &.grid-item
      padding-left: $margin-tiny
      padding-right: $margin-tiny
