$gutter = 20px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-large = 32px
$font-size-mid = 24px
$font-size-basic = 16px
$font-size-small = 12px
$font-size-tiny = 10px
$font-size-micro = 10px

grid-maker(100%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

$header-height = 44px
$footer-height = 334px

.desktop-only
  display: none !important

.u-inline
  display: inline

#dissolve
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 1000
  background-color: $color-pink
  pointer-events: none

#main-container
  padding-top: $header-height

.container
  max-width: 1440px

.background-pale
  background-color: $color-pale

.background-pink
  background-color: $color-pink

.font-size-zero
  font-size: 0

.border
  background: $color-grey-dark
  height: 1px

.border-bottom
  border-bottom 1px solid $color-grey-dark

figure
  margin: 0

figcaption
  font-size: $font-size-small
  width: 80%
  color: $color-grey-dark
  text-align: center
  margin: .5em 0 1em 10%
  strong
    color: $color-black
  p
    color: $color-grey-dark
    strong
      color: $color-black

body
  overflow-x: hidden
  &.nav-open
    #mobile-nav
      transform: translateY(0)
    #header
      &.nav-up
        top: 0
  &.overlay-open
    #overlay-gallery
      opacity: 1
      pointer-events: auto
  &.search-open
    #fixed-search-holder
      transform: translateY(0)
    #fixed-search-underlay
      opacity: .65
      pointer-events: auto

#header
  background-color: $color-pink
  border-bottom: 1px solid $color-grey-dark
  position: fixed
  top: 0
  width: 100%
  transition: top 0.2s ease-in-out
  will-change: top
  z-index: 200
  &.nav-up
    top: -($header-height)

#fixed-search-holder
  width: 100%
  height: auto
  top: $header-height
  left: 0
  position: fixed
  z-index: 100
  transition: transform 0.2s ease-in-out
  will-change: transform
  transform: translateY(-100% - 1px - $header-height)
  border-bottom: 1px solid $color-grey-dark
  background-color: $color-pink

#fixed-search-underlay
  width: 100%
  height: 100%
  top: 0
  left: 0
  position: fixed
  z-index: 100
  opacity: 0
  transition: opacity 0.2s ease-in-out
  will-change: opacity
  background: $color-black
  pointer-events: none

#logo
  height: 28px

.header-icon
  height: 21px

.header-bag-holder
  position: relative

.header-bag-count
  padding: .1em .2em
  border-radius: 100%
  background: $color-pink
  border: 2px solid $color-black
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  font-weight: 500
  position: absolute
  bottom: 0
  right: 0
  pointer-events: none

#mobile-nav
  position: fixed
  top: 0
  padding-top: $header-height
  width: 100%
  z-index: 100
  background-color: $color-pink
  border-bottom: 1px solid $color-grey-dark
  transform: translateY(-100%)
  transition: transform .5s ease-in-out
  will-change: transform
  max-height: 100vh
  overflow-y: scroll

#shop-menu
  height: 0
  overflow: hidden

#main-content
  min-height: calc('100vh - ' + ($header-height * 2))

#wp-_igv_featured_caption-wrap
  .mce-btn
    display: none

#main-container
  width: 100%

.swiper-container
  width: 100%
  &[data-swiper-type='scroll']
    width: calc('100% - ' + $margin-small)
    margin: 0 auto
    overflow: visible
    .swiper-slide
      width: 150px
      &:not(:first-child)
        padding-left: $margin-tiny
      &:not(:last-child)
        padding-right: $margin-tiny
  &[data-swiper-type='slide']
    .swiper-slide
      img
        pointer-events: none

.swiper-scrollbar
  height: 2px !important
  background-color: $color-grey

.swiper-scrollbar-drag
  height: 4px
  margin-top: -1px
  border-radius: 0
  background-color: $color-black

.slide-pagination-bullet
  width: 10px
  height: 10px
  display: inline-block
  border-radius: 100%
  background: transparent
  border: 1px solid $color-grey-dark
  margin: 0 5px
  cursor: pointer
  &.slide-pagination-bullet-active
    background: $color-grey
  &:focus
    outline: none
    border-color: $color-black

#overlay-gallery
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 300
  background: rgba(255,255,255,.9)
  cursor: zoom-out
  opacity: 0
  pointer-events: none
  transition: opacity .7s ease-in-out
  will-change: opacity
  .swiper-container
    width: 80%
    height: 80%
    max-width: 1200px
    max-height: 900px
  .overlay-nav
    cursor: pointer
  img
    width: auto
    max-height: 100%
    cursor: default

.trigger-overlay
  cursor: zoom-in

#article-content
  color: $color-black
  h2, h3, h4, h5, h6, ol, ul, cite, figcaption
    padding-left: $margin-tiny
    padding-right: $margin-tiny
  h2, h3, h4, h5, h6
    margin-bottom: 1rem
    font-size: $font-size-mid
    font-family: $font-serif
    font-weight: normal
  p
    font-family: $font-serif
    font-weight: 300
    &:first-of-type
      font-size: $font-size-mid
  ol
    list-style-type: decimal
  ul
    list-style-type: circle
  ul, ol
    margin-bottom: 1rem
    ul, ol
      margin-bottom: 0
  .wp-block-quote
    margin-top: 2rem
    margin-bottom: 2rem
    p, cite
      width: 91.66666666666667%
      margin-left: 8.333333333333334%
    p
      font-size: $font-size-basic
      &:last-of-type
        margin-bottom: 0
    cite
      font-size: $font-size-small
      &:before
        content: '—'
        padding: 0 .2rem
  .wp-block-pullquote
    p, cite
      font-family: $font-sans
      font-weight: normal
  .wp-block-image
    text-align: center
    padding-top: 3em
    padding-bottom: 3em
  .wp-block-embed__wrapper
    text-align: center
    padding-top: 3em
    padding-bottom: 3em
    iframe
      max-width: 100%
  a
    text-decoration: underline !important

ol
  list-style-type: decimal

#footer
  border-top: 1px solid $color-grey-dark

#footer-form-holder
  order: 2

#footer-nav-holder
  order: 1

.form-grid-item
  padding-left: ($margin-micro / 2) !important
  padding-right: ($margin-micro / 2) !important
  &:first-of-type
    padding-left: 0 !important
  &:last-of-type
    padding-right: 0 !important

input
  appearance: none
  width: 100%
  border: 1px solid $color-grey-dark
  padding: .8rem .4rem
  background: $color-grey
  background-image: radial-gradient(circle, $color-pale 0%, $color-grey 100%)
  text-align: center
  font-family: $font-sans
  font-weight: normal
  &:focus
    outline: none
    background: $color-white
  +placeholder()
    text-align: center
    color: $color-grey-dark
  &.search-field
    background: none
    border: none
    border-bottom: 1px solid $color-grey-dark
    +placeholder()
      text-align: center
      color: $color-grey

input[type="checkbox"]
  background: transparent
  width: 2em
  height: 2em
  position: relative
  &:checked:after
  	content: '\2714'
  	font-size: $font-size-basic
  	position: absolute
  	top: .4em
  	left: .5em
  	color: $color-black

input[type="number"]
  background: transparent
  width: 4em
  margin-top: -.8rem

input[type="radio"]
  width: 1rem
  height: 1rem
  margin-right: 1rem
  background: transparent
  &:checked
    background: $color-black

button
  appearance: none
  background: transparent
  border: none
  cursor: pointer
  font-family: $font-sans
  font-weight: normal
  &:focus
    outline: none
    text-decoration: underline
  &:disabled
    cursor: default

a, button
  &.button
    background-color: $color-black
    padding: .4rem 3rem
    color: $color-white
    border: 1px solid transparent
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out
    will-change: color, background-color
    &:disabled, &:disabled:hover
      background-color: $color-grey
      color: $color-white
    &:focus
      text-decoration: none
      border-color: $color-white

.thumb-holder
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  font-size: 0
  div
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
  &.product-item-thumb-holder
    height: 170px
  &.scroll-slider-thumb-holder
    height: 88px
  &.search-result-thumb-holder
    height: 26vw

.product-item-details
  padding-left: .5rem
  padding-right: .5rem

a:not(.button)
  will-change: color
  .thumb-holder div
    transition: transform 0.2s ease-in-out
    will-change: transform
  *:not(img)
    will-change: color
  &:hover
    color: $color-grey
    .thumb-holder div
      transform: scale(1.1)
    *:not(img)
      color: $color-grey

.grid-item.grid-item-product
  padding-left: 2px !important
  padding-right: 2px !important

.gws-product
  .product-sold
    display: none
  .item-in-cart
    display: none
  &[data-gws-available='false']
    .product-sold
      display: block
    .product-price
      display: none
  &[data-gws-in-cart='true']
    .item-in-cart
      display: block
    .add-to-cart
      display: none

.gws-cart-thumb
  width: 200px
  height: 200px
  background-size: cover
  background-position: center

#cart-header, #cart-body, #cart-footer, #cart-empty
  display: none

[data-gws-cart-empty="false"]
  #cart-header, #cart-body, #cart-footer
    display: block
  #cart-empty
    display: none

[data-gws-cart-empty="true"]
  #cart-header, #cart-body, #cart-footer
    display: none
  #cart-empty
    display: block

.social-icon
  width: 22px

.partner-logo
  max-width: 200px
  max-height: 125px
  width: auto
  height: auto
