@media screen and (min-width: 550px)

  $gutter = 30px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-large = 34px
  $font-size-mid = 26px
  $font-size-basic = 17px
  $font-size-small = 14px
  $font-size-tiny = 11px
  $font-size-micro = 10px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(100%, $gutter, m)

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  $header-height = 59px
  $footer-height = 405px

  .mobile-only
    display: none !important

  figcaption
    font-size: $font-size-small

  #fixed-search-holder
    top: $header-height

  #main-container
    padding-top: $header-height

  #header
    &.nav-up
      top: -($header-height)

  #mobile-nav
    top: 0
    padding-top: $header-height

  #main-content
    min-height: calc('100vh - ' + ($header-height * 2))

  .row-m-reverse
    flex-direction: row-reverse

  .swiper-container
    &[data-swiper-type='scroll']
      width: calc('100% - ' + $margin-small)
      .swiper-slide
        width: 300px
        &:not(:first-child)
          padding-left: $margin-tiny
        &:not(:last-child)
          padding-right: $margin-tiny

  .swiper-scrollbar
    height: 2px !important
    background-color: $color-grey

  .swiper-scrollbar-drag
    height: 6px
    margin-top: -2px

  #article-content
    h2, h3, h4, h5, h6, ol, ul, cite, figcaption
      padding-left: $margin-tiny
      padding-right: $margin-tiny
    h2, h3, h4, h5, h6
      font-size: $font-size-mid
    p
      &:first-of-type
        font-size: $font-size-mid
    .wp-block-quote
      p
        font-size: $font-size-basic
      cite
        font-size: $font-size-small

  .thumb-holder
    &.product-item-thumb-holder
      height: 330px
    &.scroll-slider-thumb-holder
      height: 210px

  #footer-form-holder
    order: 1

  #footer-nav-holder
    order: 2

  .form-grid-item
    padding-left: ($margin-micro / 2) !important
    padding-right: ($margin-micro / 2) !important
    &:first-of-type
      padding-left: 0 !important
    &:last-of-type
      padding-right: 0 !important
