@media screen and (min-width: 1024px)

  $gutter = 40px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  grid-maker(100%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic)

  $header-height = 73px
  $footer-height = 256px

  .not-desktop
    display: none !important

  .desktop-only
    display: block !important

  #main-container
    padding-top: $header-height

  .no-gutter-left
    padding-left: 0 !important

  .no-gutter-right
    padding-right: 0 !important

  #header
    &.nav-up
      top: -($header-height)

  #logo
    height: 32px

  .header-icon
    height: 24px

  #main-content
    min-height: calc('100vh - ' + ($footer-height + $header-height))

  .row-l-reverse
    flex-direction: row-reverse

  .swiper-container
    &[data-swiper-type='scroll']
      width: calc('83.3333333333% - ' + $margin-small)
      .swiper-slide
        width: 400px
        &:not(:first-child)
          padding-left: $margin-tiny
        &:not(:last-child)
          padding-right: $margin-tiny

  #article-content
    p
      max-width: 58.333333333333336%
      margin-left: 25%
      padding-left: $margin-tiny
      padding-right: $margin-tiny
