@media screen and (min-width: 1024px)

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  grid-maker(100%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic)
  
  .mobile-only
    display: none !important

  .desktop-only
    display: initial !important

  .row-l-reverse
    flex-direction: row-reverse

  #article-content
    p
      max-width: 58.333333333333336%
      margin-left: 25%
      padding-left: $margin-tiny
      padding-right: $margin-tiny
