@media screen and (min-width: 1024px)

  $gutter = 40px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 20px
  $font-size-extra = 60px
  $font-size-large = 36px
  $font-size-mid = 28px
  $font-size-small = 16px
  $font-size-tiny = 12px

  $hover-transition = 0.1s

  grid-maker(100%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  $header-height = 73px
  $footer-height = 256px

  .not-desktop
    display: none !important

  .desktop-only
    display: block !important

  figcaption
    font-size: $font-size-small

  #fixed-search-holder
    top: $header-height

  #main-container
    padding-top: $header-height

  .no-gutter-left
    padding-left: 0 !important

  .no-gutter-right
    padding-right: 0 !important

  #header
    &.nav-up
      top: -($header-height)

  #logo
    height: 32px

  .header-icon
    height: 24px

  #shop-menu
    height: auto !important

  #main-content
    min-height: calc('100vh - ' + ($header-height * 2))

  .row-l-reverse
    flex-direction: row-reverse

  .swiper-container
    &[data-swiper-type='scroll']
      width: calc('83.3333333333% - ' + $margin-small)
      .swiper-slide
        width: 400px
        &:not(:first-child)
          padding-left: $margin-tiny
        &:not(:last-child)
          padding-right: $margin-tiny

  .slide-prev
    padding-right: $margin-micro

  .slide-next
    padding-left: $margin-micro

  .slide-pagination-icon
    height: 17px

  a, button
    &.button
      transition: background-color $hover-transition ease-in-out
      &:hover
        background-color: $color-grey-dark

  .hover-saturate
    img
      filter: saturate(0)
      transition: filter $hover-transition ease-in-out
    &:hover
      img
        filter: saturate(1)

  .hover-desaturate
    img
      filter: saturate(1)
      transition: filter $hover-transition ease-in-out
    &:hover
      img
        filter: saturate(0)

  .hover-underline:hover
    .underline-on-hover
      text-decoration: underline

  #article-content
    h2, h3, h4, h5, h6, ol, ul, cite, figcaption
      padding-left: $margin-tiny
      padding-right: $margin-tiny
    h2, h3, h4, h5, h6
      width: 66.66666666666667%
      margin-left: 16.666666666666668%
      font-size: $font-size-mid
    p
      max-width: 58.333333333333336%
      margin-left: 25%
      &:first-of-type
        font-size: $font-size-mid
    .wp-block-quote
      p, cite
        width: 50%
        margin-left: 33.333333333333336%
      p
        font-size: $font-size-basic
      cite
        font-size: $font-size-small
    .wp-block-pullquote
      cite
        margin-left: 8.333333333333334%
